.container{
    display: flex;

flex-direction: column;
align-items: center;
    padding: 35px 73px 58px 79px;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
    border-radius: 16px;
background: #FFF;

/* grid-column: span 2 / span 2; */

}
.heading{
color: var(--gray-1, #0F1629);
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
}
.subContainer{
    display: flex;
    gap:40px;
}
.line{
    width: 100%;

border-bottom: 1px solid rgba(201, 207, 221, 0.60);
}
.investheading{
    color: var(--gray-1, #0F1629);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}