.col-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.1875rem 4.5625rem 3rem 4.5625rem;
    justify-content: flex-end;
    border-radius: 1rem;
background: #FFF;
gap:28px;
/* flex-grow: 1; */



}
.col-header{
color: var(--gray-1, #0F1629);
text-align: center;
font-family: Inter;
font-size: 2em;
font-style: normal;
font-weight: 900;
line-height: 2.625rem; /* 116.667% */
}
.col-mainContainer{
display: flex;
/* flex-grow: 1; */
gap: 2rem;
flex-direction: column;
justify-content: space-evenly;
width: 100%;
}
.col-subContainer1{
    display: flex;
    flex-direction: column;
    gap:2.75rem;
    /* flex-grow: 1; */
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;

}
.col-subContainer2{
    display: flex;
    flex-direction: column;
    gap:2.75rem;
    /* flex-grow: 1; */
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Tax-wrapper{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.Tax-header{
    color: var(--gray-2, #3E424A);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.Tax-text{
    color: var(--gray-2, #3E424A);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.line{
  


border-bottom: 0.0625rem solid rgba(201, 207, 221, 0.60);
}




/* taxcal */
.container{
    display: flex;
flex-direction: column;
align-items: center;
    padding: 35px 25px 55px 25px;
    justify-content: flex-end;
    border-radius: 16px;
background: #FFF;
gap:28px;
/* flex-grow: 1; */

}
.heading{
color: var(--gray-1, #0F1629);
text-align: center;
font-family: Inter;
font-size: 2.25rem;
font-style: normal;
font-weight: 700;
line-height: 2.625rem;
}
.subContainer{
    display: flex;
    flex-direction: column;
    gap:40px;
    /* flex-grow:1; */
   
}

.investheading{
    color: var(--gray-1, #0F1629);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.button1{
padding:12px 12px;

}
.subContainer1{
    display: flex;
    align-items: flex-start;
    gap: 89px;
    /* flex-grow: 1; */
    
}

.header{
    color: var(--gray-1, #0F1629);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
}
.intype{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.alignbtn{
    display: flex;
    gap:6px;
}
.btn{
padding: 13px 16px;
border-radius: 8px;
border: 1px solid var(--gray-2, #3E424A);
background: rgba(0, 82, 254, 0.00);
}


/* .btn:hover{
border-radius: 8px;
border: 2px solid var(--primary-blue, #0052FE);
background: rgba(0, 82, 254, 0.06);
color:#0052FE;
} */

.selectedButton{
    border-radius: 8px;
    border: 2px solid var(--primary-blue, #0052FE);
    background: rgba(0, 82, 254, 0.06);
    color:#0052FE;
    }


.net{
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    
}
.amount{
    color:#0FBA83;
   font-weight:700;
    size:24px;
    white-space: nowrap;
}
.ansamount{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0.875rem 1.75rem;
    border: 3px solid var(--primary-blue, #EBF9F4);
    background-color: #EBF9F4;
    border-radius: 5px;
    overflow: hidden;

}
.ansamount2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0.875rem 1.75rem;
    border: 3px solid var(--primary-blue, #EBF2FF);
    background-color: #EBF2FF;
    border-radius: 5px;
    overflow: hidden;

}
.amount2{
    color:#0141CF;
   font-weight:700;
    size:24px;
    white-space: nowrap;
}


.subContainer2{
    display: flex;
    align-items: flex-start;
    gap: 38px;
    
   
    
}
.output-wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
   
  
}
.output-header{
    color: var(--gray-1, #0F1629);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.out-field{
    background: #EFF2F5;
    border-radius: 4px;
    background: #EFF2F5;
    Padding: 20px 70px 20px 10px;
    font-size: 1.125rem;
    font-weight: 500;
   white-space: nowrap;
   
    border: 0;  
   

}
.col-subPart2{
    display: flex;
    gap:2rem;
}
.col-subPart1{
    display: flex;
    gap:6rem;
    align-items: flex-end;
}