.col-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 25px 55px 25px;
    justify-content: flex-end;
    border-radius: 16px;
background: #FFF;
gap:28px;
flex-grow: 1;
position: relative;

}
.col-header{
color: var(--gray-1, #0F1629);
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 116.667% */
}
.col-mainContainer{
display: flex;
flex-grow: 1;
gap: 42px;
justify-content: space-evenly;
}
.col-subContainer1{
    display: flex;
    flex-direction: column;
    gap:1.75rem;
    flex-grow: 1;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;

}
.col-subContainer2{
    display: flex;
    flex-direction: column;
    gap:28px;
    flex-grow: 1;
    width: 80%;
    flex-wrap: wrap;
}
.Tax-wrapper{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.Tax-header{
    color: var(--gray-2, #3E424A);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.Tax-text{
    color: var(--gray-2, #3E424A);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.line{
    width: 80%;
position:absolute;
top: 28.1%;
border-bottom: 1px solid rgba(201, 207, 221, 0.60);
}
.line2{
    width: 80%;
position:absolute;
top:24%;
border-bottom: 1px solid rgba(201, 207, 221, 0.60);
}



/* taxcal */
.container{
    display: flex;
flex-direction: column;
align-items: center;
    padding: 35px 25px 55px 25px;
    justify-content: flex-end;
    border-radius: 16px;
background: #FFF;
gap:28px;
flex-grow: 1;

}
.heading{
color: var(--gray-1, #0F1629);
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
}
.subContainer{
    display: flex;
    flex-direction: column;
    gap:40px;
    flex-grow:1;
   
}

.investheading{
    color: var(--gray-1, #0F1629);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.button1{
padding:12px 12px;

}
.subContainer1{
    display: flex;
    align-items: flex-start;
    gap: 89px;
    flex-grow: 1;
    
}

.header{
    color: var(--gray-1, #0F1629);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
}
.intype{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.alignbtn{
    display: flex;
    gap:6px;
}
.btn{
padding: 13px 16px;
border-radius: 8px;
border: 1px solid var(--gray-2, #3E424A);
background: rgba(0, 82, 254, 0.00);
}


/* .btn:hover{
border-radius: 8px;
border: 2px solid var(--primary-blue, #0052FE);
background: rgba(0, 82, 254, 0.06);
color:#0052FE;
} */

.selectedButton{
    border-radius: 8px;
    border: 2px solid var(--primary-blue, #0052FE);
    background: rgba(0, 82, 254, 0.06);
    color:#0052FE;
    }


.ansamount{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:14px 28px;
    border: 3px solid var(--primary-blue, #EBF9F4);
    background-color: #EBF9F4;
    border-radius: 5px;

}
.net{
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    
}
.amount{
    color:#0FBA83;
   font-weight:700;
    size:24px;
}
.ansamount2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:14px 58px;
    border: 3px solid var(--primary-blue, #EBF2FF);
    background-color: #EBF2FF;
    border-radius: 5px;

}
.amount2{
    color:#0141CF;
   font-weight:700;
    size:24px;
}


.subContainer2{
    display: flex;
    align-items: flex-start;
    gap: 38px;
    
   
    
}
.output-wrapper{
    display: flex;
    flex-direction: column;

}
.output-header{
    color: var(--gray-1, #0F1629);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.out-field{
    background: #EFF2F5;
    border-radius: 4px;
    background: #EFF2F5;
    Padding: 16px 70px 16px 10px;
  font-size: 18px;
  font-weight: 500;

    border: 0;  
}